{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.member.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ post.member.username }}</small>
                <small class="text-muted">{{ post.workout_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}