{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + workout.member.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ workout.member.username }}</a>
        <small class="text-muted">{{ workout.workout_date.strftime('%Y-%m-%d') }}</small>
        {% if workout.member == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('workouts.update_workout', workout_id=workout.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ workout.title }}</h2>
      <p class="article-content">{{ workout.type_of }}</p>
      {% if workout.type_of == 'Weight Lifting' %}
        <p class="article-content">Lifting Movement: {{ workout.lifting_movement }}</p>
        <p class="article-content">Number of Sets: {{ workout.num_sets }}</p>
        <p class="article-content">Number of Rets: {{ workout.num_reps }}</p>
        <p class="article-content">Weight: {{ workout.weight }}</p>
        <p class="article-content">Rest Time: {{ workout.rest_time }}</p>
      {% endif %}
      {% if workout.type_of == 'Running' %}
        <p class="article-content">Total Distance: {{ workout.total_distance }} miles</p>
        <p class="article-content">Total Time: {{ workout.total_duration }} minutes</p>
        <p class="article-content">Pace: {{ workout.pace }} minutes per mile</p>
      {% endif %}
      {% if workout.type_of == 'Biking' %}
        <p class="article-content">Total Distance: {{ workout.total_distance }} miles</p>
        <p class="article-content">Total Time: {{ workout.total_duration }} minutes</p>
        <p class="article-content">Pace: {{ workout.pace }} minutes per mile</p>
      {% endif %}
      {% if workout.type_of == 'Rowing' %}
        <p class="article-content">Total Distance: {{ workout.total_distance }} meters</p>
        <p class="article-content">Total Time: {{ workout.total_duration }} minutes</p>
        <p class="article-content">Pace: {{ workout.pace }} minute(s) per 500 meters</p>
        <p class="article-content">Rate of Strokes: {{ workout.stroke_rate }} strokes per minute</p>
        <p class="article-content">Total Strokes: {{ workout.total_strokes }} strokes</p>
      {% endif %}
      <p class="article-content">Notes: {{ workout.content }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete workout?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('workouts.delete_workout', workout_id=workout.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}